## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [2]:
import tensorflow as tf

In [3]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### to optimize the Model, chosen solutions is: 

### i)dropping out 1 more columns 

### ii) adding more in layers

### iii) increase number of epoch to 120

In [4]:

# drop 1 more columns beside EIN and NAME: Affiliation.
application_df=application_df.drop(columns=['EIN', 'NAME', 'AFFILIATION'])
application_df

,APPLICATION_TYPE,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
application_df.describe()

             STATUS       ASK_AMT  IS_SUCCESSFUL
count  34299.000000  3.429900e+04   34299.000000
mean       0.999854  2.769199e+06       0.532406
std        0.012073  8.713045e+07       0.498956
min        0.000000  5.000000e+03       0.000000
25%        1.000000  5.000000e+03       0.000000
50%        1.000000  5.000000e+03       1.000000
75%        1.000000  7.742000e+03       1.000000
max        1.000000  8.597806e+09       1.000000

In [7]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(counts[counts>10].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    34288
T25          3
T14          3
T29          2
T15          2
T17          1
Name: APPLICATION_TYPE, dtype: int64

####For those columns that have more than 10 unique values, determine the number of data points for each unique value.

####Use the number of data points for each unique value to pick a cutoff point to bin "rare" categorical variables together in a new value, Other, and then check if the binning was successful.

In [11]:
# Look at CLASSIFICATION value counts for binning

countsbinning = application_df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [60]:
# View CLASSIFICATION with value counts >1

class_counts = countsbinning[countsbinning>1]
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,CLASSIFICATION_C1000,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays

X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

In [15]:
# Split the preprocessed data into a training and testing dataset

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=78)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# number ofinput: how many columns we wanna to input to the dataset to do ML

#  len(X_train[0]): get the len of the first row to know how many columns

number_input_features = len(X_train)  

# 80: use 80% of the data 
# 30: use 30% of the data

hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layers
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()



nn = tf.keras.models.Sequential()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 80)                2058000

 dense_6 (Dense)             (None, 30)                2430

 dense_7 (Dense)             (None, 20)                620

 dense_8 (Dense)             (None, 1)                 21

=================================================================
Total params: 2,061,071
Trainable params: 2,061,071
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# fit model: epochs: the more epoch the more time the ML have chance to learn
fit_model = nn.fit(X_train_scaled, y_train, epochs=120)

Epoch 1/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 2/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 3/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 4/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 5/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 6/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 7/120
804/804 [==============================] - 1s 987us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 8/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 9/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 10/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 11/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 12/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 13/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 14/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 15/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 16/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 17/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 18/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 19/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 20/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 21/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 22/120
804/804 [==============================] - 1s 955us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 23/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 24/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 25/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 26/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 27/120
804/804 [==============================] - 1s 689us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 28/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 29/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 30/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 31/120
804/804 [==============================] - 1s 851us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 32/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 33/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 34/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 35/120
804/804 [==============================] - 1s 851us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 36/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 37/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 38/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 39/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 40/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 41/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 42/120
804/804 [==============================] - 1s 924us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 43/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 44/120
804/804 [==============================] - 1s 965us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 45/120
804/804 [==============================] - 1s 663us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 46/120
804/804 [==============================] - 1s 658us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 47/120
804/804 [==============================] - 1s 621us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 48/120
804/804 [==============================] - 1s 694us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 49/120
804/804 [==============================] - 1s 646us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 50/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 51/120
804/804 [==============================] - 1s 913us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 52/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 53/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 54/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 55/120
804/804 [==============================] - 1s 985us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 56/120
804/804 [==============================] - 1s 852us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 57/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 58/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 59/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 60/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 61/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 62/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 63/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 64/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 65/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 66/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 67/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 68/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 69/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 70/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 71/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 72/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 73/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 74/120
804/804 [==============================] - 1s 929us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 75/120
804/804 [==============================] - 1s 856us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 76/120
804/804 [==============================] - 1s 913us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 77/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 78/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 79/120
804/804 [==============================] - 1s 962us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 80/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 81/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 82/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 83/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 84/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 85/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 86/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 87/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 88/120
804/804 [==============================] - 1s 970us/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 89/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 90/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 91/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 92/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 93/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 94/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 95/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 96/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 97/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 98/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 99/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 100/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 101/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 102/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 103/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 104/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 105/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 106/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 107/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 108/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 109/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 110/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 111/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 112/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 113/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 114/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 115/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 116/120
804/804 [==============================] - 1s 1ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 117/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 118/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 119/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04
Epoch 120/120
804/804 [==============================] - 1s 2ms/step - loss: 7.2407 - accuracy: 1.5550e-04

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 7.2544 - accuracy: 0.0000e+00 - 336ms/epoch - 1ms/step
Loss: 7.254382133483887, Accuracy: 0.0

In [24]:
# Export our model to HDF5 file

#nn.save("OptimationAlphabetSoupCharity.h5")

In [26]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
# Create a random forest classifier. n_estimators: 128 is small common number that let the MLto run (time running). 

rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest model accuracy: 0.625