## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [5]:
import tensorflow as tf

In [52]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

#### keras library; tensorflow; hidden layers; hidden nodes
#### model fitting; loss; neural

In [53]:
application_df=application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [54]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [56]:
application_df.describe()

             STATUS       ASK_AMT  IS_SUCCESSFUL
count  34299.000000  3.429900e+04   34299.000000
mean       0.999854  2.769199e+06       0.532406
std        0.012073  8.713045e+07       0.498956
min        0.000000  5.000000e+03       0.000000
25%        1.000000  5.000000e+03       0.000000
50%        1.000000  5.000000e+03       1.000000
75%        1.000000  7.742000e+03       1.000000
max        1.000000  8.597806e+09       1.000000

In [57]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [58]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(counts[counts>10].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    34288
T25          3
T14          3
T29          2
T15          2
T17          1
Name: APPLICATION_TYPE, dtype: int64

####For those columns that have more than 10 unique values, determine the number of data points for each unique value.

####Use the number of data points for each unique value to pick a cutoff point to bin "rare" categorical variables together in a new value, Other, and then check if the binning was successful.

In [59]:
# Look at CLASSIFICATION value counts for binning

countsbinning = application_df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [60]:
# You may find it helpful to look at CLASSIFICATION value counts >1

class_counts = countsbinning[countsbinning>1]
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [61]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [62]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [64]:
# Split our preprocessed data into our features and target arrays

X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

In [65]:
# Split the preprocessed data into a training and testing dataset

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=78)

In [66]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [69]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# number ofinput: how many columns we wanna to input to the dataset to do ML

#  len(X_train[0]): get the len of the first row to know how many columns

number_input_features = len(X_train)  

# 80: use 80% of the data 
# 30: use 30% of the data

hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()



nn = tf.keras.models.Sequential()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                2058000

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 2,060,461
Trainable params: 2,060,461
Non-trainable params: 0
_________________________________________________________________

In [70]:
# Compile the model

nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [72]:
# fit model: epochs: the more epoch the more time the ML have chance to learn
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 7.3004 - accuracy: 1.1662e-04

In [73]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 7.3128 - accuracy: 0.0000e+00 - 468ms/epoch - 2ms/step
Loss: 7.312781810760498, Accuracy: 0.0

In [74]:
# Export our model to HDF5 file

#nn.save("AlphabetSoupCharity.h5")

In [75]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
# Create a random forest classifier. n_estimators: 128 is small common number that let the MLto run (time running). 

rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest model accuracy: 0.687